<app-menu></app-menu>
<div class="container">
        <div class="row">
                <div class="col-12">
                        <button class="mybtn btn btn-secondary" (click)="show()" *ngIf="!showAdd">Click to Add</button>
                        <button class="mybtn btn btn-secondary" (click)="hide()" *ngIf="showAdd">Click to hide</button>
                </div>
        </div>
        <small class="text-danger" >{{msg}}</small>
        <form class="form-horizontal shadow p-3 mb-5 bg-white rounded " #f="ngForm"
        
                (ngSubmit)="f.form.valid && addProd(quan,price,prodname,image)" *ngIf="showAdd">
                <div class="row">
                        <div class="col-6">
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Product Name" #prodname
                                                ngModel name="prodname">
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Quantity" name="quan" #quan
                                                ngModel>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Price" name="price" #price
                                                ngModel>
                                </div>

                                <!-- <div class="form-group">
                                        <input type="file" class="form-control" placeholder="Product Picture" #image
                                                accept="image/*" name="image"
                                                (change)="handleFileInput($event.target.files)">
                                </div> -->

<!-- 
                                <input type="file" accept="image/*" (change)="imageChangedEvent = $event" />
                                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                        [aspectRatio]="1" [resizeToWidth]="128" format="png"
                                        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
                                        (loadImageFailed)="loadImageFailed($event)"></image-cropper>

                                <div class="img-container" *ngIf="imageChangedEvent === undefined">
                                        <img [src]="model">
                                </div> -->


                                <input type="file" class="form-control" #image
                                accept="image/*" name="image" (change)="fileChangeEvent($event.target.files)" />
                        </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                        <div class="text-center col-md-8">
                                <h5>Crop Image</h5>
                                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                                        [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png"
                                        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                                </image-cropper>
                        </div>
                        <div class="text-center col-md-4">
                                <h5>Preview</h5>
                                <img [src]="croppedImage" />
                        </div>
                        <!-- <div class="col-6">
                                <h4 class="text-center">Image preview</h4>
                                <img [src]="imageUrl" style="width:400px;height: 300px;">
                        </div> -->



                </div>
                <div class="row">
                        <div class="col-6">
                                <input type="submit" class=" btn btn-primary" value="Add Product">
                        </div>
                </div>
        </form>
        <hr>
        <div class="row">
                <div class="col-3 align-left" *ngFor="let product of products">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                                <div class="card-body">
                                        <h5 class="card-title">{{product.productName}}</h5>
                                        <img src="data:image/png;base64,{{product.image}}" class="img-responsive"
                                                height="150px" width="200px" alt="Image">
                                        <input type="hidden" value={{product.productid}} #prdid>
                                        <div class="row">
                                                <div class="col-6">
                                                        <button class="btn btn-info" (click)="edit(prdid)">
                                                                <mat-icon>edit</mat-icon>
                                                        </button>
                                                </div>


                                                <div class="col-6">
                                                        <button class="btn btn-danger" (click)="deleteconfirm(prdid)">
                                                                <mat-icon>delete</mat-icon>
                                                        </button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>