<app-menu></app-menu>
<div class="container">
        <div class="row">
                <div class="col-12">
                        <button class="mybtn btn btn-secondary" (click)="show()" *ngIf="!showAdd">Click to Add</button>
                        <button class="mybtn btn btn-secondary" (click)="hide()" *ngIf="showAdd">Click to hide</button>
                </div>
        </div>
        <small class="text-danger">{{msg}}</small>
        <form class="form-horizontal shadow p-3 mb-5 bg-white rounded " #f="ngForm"
                (ngSubmit)="f.form.valid && addProd(quan,price,prodname,image)" *ngIf="showAdd">
                <div class="row">
                        <div class="col-6">
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Product Name" #prodname
                                                ngModel name="prodname">
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Quantity" name="quan" #quan
                                                ngModel>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Price" name="price" #price
                                                ngModel>
                                </div>

                                <div class="form-group">
                                        <input type="file" class="form-control" placeholder="Product Picture" #image
                                                accept="image/*" name="image"
                                                (change)="handleFileInput($event.target.files)">
                                </div>
                                Add more photos

                                <!-- <img *ngFor='let url of urls'  [src]="url" height="200"> <br/>

                                <input type='file' (change)="onSelectFile($event)" multiple> -->

                                <div *ngIf="currentFile" class="progress">
                                        <div
                                          class="progress-bar progress-bar-info progress-bar-striped"
                                          role="progressbar"
                                          attr.aria-valuenow="{{ progress }}"
                                          aria-valuemin="0"
                                          aria-valuemax="100"
                                          [ngStyle]="{ width: progress + '%' }"
                                        >
                                          {{ progress }}%
                                        </div>
                                      </div>
                                      
                                      <label class="btn btn-default">
                                        <input type="file" (change)="selectFile($event)" />
                                      </label>
                                      
                                      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
                                        Upload
                                      </button>
                                      
                                      <div class="alert alert-light" role="alert">{{ message }}</div>
                                      
                                      <div class="card">
                                        <div class="card-header">List of Files</div>
                                        <!-- <ul
                                          class="list-group list-group-flush"
                                          *ngFor="let file of fileInfos | async"
                                        > -->
                                          <!-- <li class="list-group-item">
                                            <a href="{{ file.url }}">{{ file.name }}</a>
                                          </li> -->
                                          
                                            <!-- <li>  <img src="data:image/png;base64,{{file.data}}" class="img-responsive"
                                              height="150px" width="200px" alt="Image"></li> -->
                                              <div class="col-3 align-left" *ngFor="let file of files">
                                                <!-- <div class="card shadow bg-white rounded"> -->
                                                        <div class="card-body">
                                     
                                                    <div><img src="data:image/png;base64,{{file.data}}" class="img-responsive"
                                                                                    height="150px" width="200px" alt="Image"></div> 
                                              
                                          
                                        </div>
                                        
                                        
                                      </div>
                                        <!-- </ul> -->
                                      </div>
                                      

                        </div>
                        <div class="col-6">
                                <h4 class="text-center">Image preview</h4>
                                <img [src]="imageUrl" style="width:400px;height: 300px;">
                        </div>



                </div>
                <div class="row">
                        <div class="col-6">
                                <input type="submit" class=" btn btn-primary" value="Add Product">
                        </div>
                </div>
        </form>



        <hr>
        <div class="row">
                <div class="col-3 align-left" *ngFor="let product of products">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                                <div class="card-body">
                                        <h5 class="card-title">{{product.productName}}</h5>
                                        <img src="data:image/png;base64,{{product.image}}" class="img-responsive"
                                                height="150px" width="200px" alt="Image">
                                        <input type="hidden" value={{product.productid}} #prdid>
                                        <br> <br>
                                        <div class="row">
                                                <div class="col-6">
                                                        <button class="btn btn-info btn-sm" (click)="edit(prdid)">
                                                                <mat-icon>edit</mat-icon>
                                                        </button>
                                                </div>


                                                <div class="col-6">
                                                        <button class="btn btn-danger btn-sm" (click)="deleteconfirm(prdid)">
                                                                <mat-icon>delete</mat-icon>
                                                        </button>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>